<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control" params="ns">
        <gazebo>
            <plugin name="mecanum_drive" filename="libgazebo_mecanum_drive.so">
                <ros>
                    <namespace>${ns}</namespace>
                </ros>
                <commandTopic>cmd_vel</commandTopic>
                <odometryTopic>odom</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <robotBaseFrame>base_footprint</robotBaseFrame>
                <LeftFront>front_left_wheel_joint</LeftFront>
                <RightFront>front_right_wheel_joint</RightFront>
                <LeftRear>back_left_wheel_joint</LeftRear>
                <RightRear>back_right_wheel_joint</RightRear>
                <odometryRate>20</odometryRate>      
                <publishWheelTF>true</publishWheelTF>
                <publishWheelJointState>true</publishWheelJointState>
                <WheelTorque>1</WheelTorque>
                <WheelSeparationW>0.12</WheelSeparationW>
                <WheelSeparationL>0.16</WheelSeparationL>
                <wheelAccel>5</wheelAccel>
                <wheelDiameter>0.03</wheelDiameter>
                <publishOdom>true</publishOdom>
                <isRollerModel>false</isRollerModel>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>